<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>
<div id="text">
    <input type="text" id="username" placeholder="Username">
</div>
<div id="text">
    <input type="password" id="password" placeholder="Password">
</div>
<div id="text">
    <input type="text" id="email" placeholder="Email">
    <button onclick="sendEmail()"> 인증코드 보내기 </button>
</div>
<div id="text">
    <input type="text" id="inputCode" placeholder="AuthCode">
</div>
<div>
    <button id="btn" onclick="signup()">회원가입</button>
</div>
</body>
<script>
    $(document).ready(function () {
        // 토큰 삭제
        Cookies.remove('Authorization', {path: '/'});
    });
    let code = "voqnioenqoweikn;aknds;boniak;oknqw;ekn;faoeoj19jt1983htpijghp9283hrp1ij24";
    const host = 'http://' + window.location.host;

    function sendEmail(){
        let email = $('#email').val();
        $.ajax({
            type: "POST",
            url: `/blossom/user/email-auth`,
            contentType: "application/json",
            data: JSON.stringify({email: email}),
        }).done(function (res){
            console.log(res)
            code = res;
        }).fail(function (res){
            alert(res.responseText);
        })
    }

    function signup() {
        let username = $('#username').val();
        let password = $('#password').val();
        let email = $('#email').val();
        let inputCode = $('#inputCode').val();
        if (inputCode === code) {
            console.log(username, password, email);
            $.ajax({
                type: "POST",
                url: `/blossom/user/signup`,
                contentType: "application/json",
                data: JSON.stringify({username: username, password: password, email: email}),
            }).done(function () {
                window.location.href = host
            }).fail(function () {
                alert("회원가입 실패");
                window.location.href = host
            })
        } else{ alert("인증코드가 일치하지 않습니다.") }
    }
</script>
</html>